html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}table{border-collapse:collapse;border-spacing:0}*::before,*::after{box-sizing:inherit}@-ms-viewport{width:device-width}*{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-smoothing:antialiased;text-rendering:optimizeLegibility;box-sizing:border-box;appearance:none;-moz-appearance:none;-webkit-appearance:none}html,body{width:100%;margin:auto;font-size:16px;font-family:arial;line-height:normal;color:#222;text-transform:none;background:#fff;behavior:smooth;position:relative}html::-webkit-scrollbar,body::-webkit-scrollbar{width:5px}html::-webkit-scrollbar-track,body::-webkit-scrollbar-track{background:#000}html::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb{background:#ddd}html .container,body .container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}html .container-fluid,body .container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}html .row,body .row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}html .no-gutters,body .no-gutters{margin-right:0;margin-left:0}html .no-gap>.col,html .no-gap>[class*="col-"],body .no-gap>.col,body .no-gap>[class*="col-"]{padding-right:0;padding-left:0}@media (min-width: 576px){html .container,body .container{max-width:540px}}@media (min-width: 768px){html .container,body .container{max-width:720px}}@media (min-width: 992px){html .container,body .container{max-width:960px}}@media (min-width: 1200px){html .container,body .container{max-width:1040px}}html .mainwrapper,body .mainwrapper{width:100%;margin:auto}img{max-width:100%}/*! Flickity v2.2.2
https://flickity.metafizzy.co
---------------------------------------------- */.flickity-enabled{position:relative}.flickity-enabled:focus{outline:none}.flickity-viewport{overflow:hidden;position:relative;height:100%}.flickity-slider{position:absolute;width:100%;height:100%}.flickity-enabled.is-draggable{-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.flickity-enabled.is-draggable .flickity-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickity-button{position:absolute;background:rgba(255,255,255,0.75);border:none;color:#333}.flickity-button:hover{background:white;cursor:pointer}.flickity-button:focus{outline:none;box-shadow:0 0 0 5px #19f}.flickity-button:active{opacity:0.6}.flickity-button:disabled{opacity:0.3;cursor:auto;pointer-events:none}.flickity-button-icon{fill:currentColor}.flickity-prev-next-button{top:50%;width:44px;height:44px;border-radius:50%;transform:translateY(-50%)}.flickity-prev-next-button.previous{left:10px}.flickity-prev-next-button.next{right:10px}.flickity-rtl .flickity-prev-next-button.previous{left:auto;right:10px}.flickity-rtl .flickity-prev-next-button.next{right:auto;left:10px}.flickity-prev-next-button .flickity-button-icon{position:absolute;left:20%;top:20%;width:60%;height:60%}.flickity-page-dots{position:absolute;width:100%;bottom:-25px;padding:0;margin:0;list-style:none;text-align:center;line-height:1}.flickity-rtl .flickity-page-dots{direction:rtl}.flickity-page-dots .dot{display:inline-block;width:10px;height:10px;margin:0 8px;background:#333;border-radius:50%;opacity:0.25;cursor:pointer}.flickity-page-dots .dot.is-selected{opacity:1}.loader{width:100%;height:100vh;position:fixed;background:#16191e;top:0;left:0;z-index:1000}.loader div{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);width:60px;height:60px;border:8px solid #1f2423;border-top-color:#2a88e6;border-radius:50%;animation:spin 1s infinite linear;-webkit-backface-visibility:hidden;backface-visibility:hidden}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col,.col-auto,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm,.col-sm-auto,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-md,.col-md-auto,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg,.col-lg-auto,.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl,.col-xl-auto{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px}.col{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}.col-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-first{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.order-last{-webkit-box-ordinal-group:14;-ms-flex-order:13;order:13}.order-0{-webkit-box-ordinal-group:1;-ms-flex-order:0;order:0}.order-1{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}.order-2{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}.order-3{-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3}.order-4{-webkit-box-ordinal-group:5;-ms-flex-order:4;order:4}.order-5{-webkit-box-ordinal-group:6;-ms-flex-order:5;order:5}.order-6{-webkit-box-ordinal-group:7;-ms-flex-order:6;order:6}.order-7{-webkit-box-ordinal-group:8;-ms-flex-order:7;order:7}.order-8{-webkit-box-ordinal-group:9;-ms-flex-order:8;order:8}.order-9{-webkit-box-ordinal-group:10;-ms-flex-order:9;order:9}.order-10{-webkit-box-ordinal-group:11;-ms-flex-order:10;order:10}.order-11{-webkit-box-ordinal-group:12;-ms-flex-order:11;order:11}.order-12{-webkit-box-ordinal-group:13;-ms-flex-order:12;order:12}.offset-1{margin-left:8.333333%}.offset-2{margin-left:16.666667%}.offset-3{margin-left:25%}.offset-4{margin-left:33.333333%}.offset-5{margin-left:41.666667%}.offset-6{margin-left:50%}.offset-7{margin-left:58.333333%}.offset-8{margin-left:66.666667%}.offset-9{margin-left:75%}.offset-10{margin-left:83.333333%}.offset-11{margin-left:91.666667%}@media (min-width: 576px){.col-sm{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-sm-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}.col-sm-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-sm-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-sm-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-sm-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-sm-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-sm-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-sm-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-sm-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-sm-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-sm-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-sm-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-sm-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-sm-first{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.order-sm-last{-webkit-box-ordinal-group:14;-ms-flex-order:13;order:13}.order-sm-0{-webkit-box-ordinal-group:1;-ms-flex-order:0;order:0}.order-sm-1{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}.order-sm-2{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}.order-sm-3{-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3}.order-sm-4{-webkit-box-ordinal-group:5;-ms-flex-order:4;order:4}.order-sm-5{-webkit-box-ordinal-group:6;-ms-flex-order:5;order:5}.order-sm-6{-webkit-box-ordinal-group:7;-ms-flex-order:6;order:6}.order-sm-7{-webkit-box-ordinal-group:8;-ms-flex-order:7;order:7}.order-sm-8{-webkit-box-ordinal-group:9;-ms-flex-order:8;order:8}.order-sm-9{-webkit-box-ordinal-group:10;-ms-flex-order:9;order:9}.order-sm-10{-webkit-box-ordinal-group:11;-ms-flex-order:10;order:10}.order-sm-11{-webkit-box-ordinal-group:12;-ms-flex-order:11;order:11}.order-sm-12{-webkit-box-ordinal-group:13;-ms-flex-order:12;order:12}.offset-sm-0{margin-left:0}.offset-sm-1{margin-left:8.333333%}.offset-sm-2{margin-left:16.666667%}.offset-sm-3{margin-left:25%}.offset-sm-4{margin-left:33.333333%}.offset-sm-5{margin-left:41.666667%}.offset-sm-6{margin-left:50%}.offset-sm-7{margin-left:58.333333%}.offset-sm-8{margin-left:66.666667%}.offset-sm-9{margin-left:75%}.offset-sm-10{margin-left:83.333333%}.offset-sm-11{margin-left:91.666667%}}@media (min-width: 768px){.col-md{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-md-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}.col-md-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-md-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-md-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-md-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-md-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-md-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-md-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-md-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-md-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-md-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-md-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-md-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-md-first{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.order-md-last{-webkit-box-ordinal-group:14;-ms-flex-order:13;order:13}.order-md-0{-webkit-box-ordinal-group:1;-ms-flex-order:0;order:0}.order-md-1{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}.order-md-2{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}.order-md-3{-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3}.order-md-4{-webkit-box-ordinal-group:5;-ms-flex-order:4;order:4}.order-md-5{-webkit-box-ordinal-group:6;-ms-flex-order:5;order:5}.order-md-6{-webkit-box-ordinal-group:7;-ms-flex-order:6;order:6}.order-md-7{-webkit-box-ordinal-group:8;-ms-flex-order:7;order:7}.order-md-8{-webkit-box-ordinal-group:9;-ms-flex-order:8;order:8}.order-md-9{-webkit-box-ordinal-group:10;-ms-flex-order:9;order:9}.order-md-10{-webkit-box-ordinal-group:11;-ms-flex-order:10;order:10}.order-md-11{-webkit-box-ordinal-group:12;-ms-flex-order:11;order:11}.order-md-12{-webkit-box-ordinal-group:13;-ms-flex-order:12;order:12}.offset-md-0{margin-left:0}.offset-md-1{margin-left:8.333333%}.offset-md-2{margin-left:16.666667%}.offset-md-3{margin-left:25%}.offset-md-4{margin-left:33.333333%}.offset-md-5{margin-left:41.666667%}.offset-md-6{margin-left:50%}.offset-md-7{margin-left:58.333333%}.offset-md-8{margin-left:66.666667%}.offset-md-9{margin-left:75%}.offset-md-10{margin-left:83.333333%}.offset-md-11{margin-left:91.666667%}}@media (min-width: 992px){.col-lg{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-lg-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}.col-lg-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-lg-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-lg-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-lg-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-lg-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-lg-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-lg-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-lg-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-lg-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-lg-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-lg-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-lg-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-lg-first{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.order-lg-last{-webkit-box-ordinal-group:14;-ms-flex-order:13;order:13}.order-lg-0{-webkit-box-ordinal-group:1;-ms-flex-order:0;order:0}.order-lg-1{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}.order-lg-2{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}.order-lg-3{-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3}.order-lg-4{-webkit-box-ordinal-group:5;-ms-flex-order:4;order:4}.order-lg-5{-webkit-box-ordinal-group:6;-ms-flex-order:5;order:5}.order-lg-6{-webkit-box-ordinal-group:7;-ms-flex-order:6;order:6}.order-lg-7{-webkit-box-ordinal-group:8;-ms-flex-order:7;order:7}.order-lg-8{-webkit-box-ordinal-group:9;-ms-flex-order:8;order:8}.order-lg-9{-webkit-box-ordinal-group:10;-ms-flex-order:9;order:9}.order-lg-10{-webkit-box-ordinal-group:11;-ms-flex-order:10;order:10}.order-lg-11{-webkit-box-ordinal-group:12;-ms-flex-order:11;order:11}.order-lg-12{-webkit-box-ordinal-group:13;-ms-flex-order:12;order:12}.offset-lg-0{margin-left:0}.offset-lg-1{margin-left:8.333333%}.offset-lg-2{margin-left:16.666667%}.offset-lg-3{margin-left:25%}.offset-lg-4{margin-left:33.333333%}.offset-lg-5{margin-left:41.666667%}.offset-lg-6{margin-left:50%}.offset-lg-7{margin-left:58.333333%}.offset-lg-8{margin-left:66.666667%}.offset-lg-9{margin-left:75%}.offset-lg-10{margin-left:83.333333%}.offset-lg-11{margin-left:91.666667%}}@media (min-width: 1200px){.col-xl{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-xl-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}.col-xl-1{-webkit-box-flex:0;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-xl-2{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-xl-3{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-xl-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-xl-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-xl-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-xl-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-xl-8{-webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-xl-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-xl-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-xl-11{-webkit-box-flex:0;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-xl-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-xl-first{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}.order-xl-last{-webkit-box-ordinal-group:14;-ms-flex-order:13;order:13}.order-xl-0{-webkit-box-ordinal-group:1;-ms-flex-order:0;order:0}.order-xl-1{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}.order-xl-2{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}.order-xl-3{-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3}.order-xl-4{-webkit-box-ordinal-group:5;-ms-flex-order:4;order:4}.order-xl-5{-webkit-box-ordinal-group:6;-ms-flex-order:5;order:5}.order-xl-6{-webkit-box-ordinal-group:7;-ms-flex-order:6;order:6}.order-xl-7{-webkit-box-ordinal-group:8;-ms-flex-order:7;order:7}.order-xl-8{-webkit-box-ordinal-group:9;-ms-flex-order:8;order:8}.order-xl-9{-webkit-box-ordinal-group:10;-ms-flex-order:9;order:9}.order-xl-10{-webkit-box-ordinal-group:11;-ms-flex-order:10;order:10}.order-xl-11{-webkit-box-ordinal-group:12;-ms-flex-order:11;order:11}.order-xl-12{-webkit-box-ordinal-group:13;-ms-flex-order:12;order:12}.offset-xl-0{margin-left:0}.offset-xl-1{margin-left:8.333333%}.offset-xl-2{margin-left:16.666667%}.offset-xl-3{margin-left:25%}.offset-xl-4{margin-left:33.333333%}.offset-xl-5{margin-left:41.666667%}.offset-xl-6{margin-left:50%}.offset-xl-7{margin-left:58.333333%}.offset-xl-8{margin-left:66.666667%}.offset-xl-9{margin-left:75%}.offset-xl-10{margin-left:83.333333%}.offset-xl-11{margin-left:91.666667%}}.d-none{display:none !important}.d-inline{display:inline !important}.d-inline-block{display:inline-block !important}.d-block{display:block !important}.d-table{display:table !important}.d-table-row{display:table-row !important}.d-table-cell{display:table-cell !important}.d-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}.d-inline-flex{display:-webkit-inline-box !important;display:-ms-inline-flexbox !important;display:inline-flex !important}@media (min-width: 576px){.d-sm-none{display:none !important}.d-sm-inline{display:inline !important}.d-sm-inline-block{display:inline-block !important}.d-sm-block{display:block !important}.d-sm-table{display:table !important}.d-sm-table-row{display:table-row !important}.d-sm-table-cell{display:table-cell !important}.d-sm-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}.d-sm-inline-flex{display:-webkit-inline-box !important;display:-ms-inline-flexbox !important;display:inline-flex !important}}@media (min-width: 768px){.d-md-none{display:none !important}.d-md-inline{display:inline !important}.d-md-inline-block{display:inline-block !important}.d-md-block{display:block !important}.d-md-table{display:table !important}.d-md-table-row{display:table-row !important}.d-md-table-cell{display:table-cell !important}.d-md-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}.d-md-inline-flex{display:-webkit-inline-box !important;display:-ms-inline-flexbox !important;display:inline-flex !important}}@media (min-width: 992px){.d-lg-none{display:none !important}.d-lg-inline{display:inline !important}.d-lg-inline-block{display:inline-block !important}.d-lg-block{display:block !important}.d-lg-table{display:table !important}.d-lg-table-row{display:table-row !important}.d-lg-table-cell{display:table-cell !important}.d-lg-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}.d-lg-inline-flex{display:-webkit-inline-box !important;display:-ms-inline-flexbox !important;display:inline-flex !important}}@media (min-width: 1200px){.d-xl-none{display:none !important}.d-xl-inline{display:inline !important}.d-xl-inline-block{display:inline-block !important}.d-xl-block{display:block !important}.d-xl-table{display:table !important}.d-xl-table-row{display:table-row !important}.d-xl-table-cell{display:table-cell !important}.d-xl-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}.d-xl-inline-flex{display:-webkit-inline-box !important;display:-ms-inline-flexbox !important;display:inline-flex !important}}@media print{.d-print-none{display:none !important}.d-print-inline{display:inline !important}.d-print-inline-block{display:inline-block !important}.d-print-block{display:block !important}.d-print-table{display:table !important}.d-print-table-row{display:table-row !important}.d-print-table-cell{display:table-cell !important}.d-print-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}.d-print-inline-flex{display:-webkit-inline-box !important;display:-ms-inline-flexbox !important;display:inline-flex !important}}.flex-row{-webkit-box-orient:horizontal !important;-webkit-box-direction:normal !important;-ms-flex-direction:row !important;flex-direction:row !important}.flex-column{-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;-ms-flex-direction:column !important;flex-direction:column !important}.flex-row-reverse{-webkit-box-orient:horizontal !important;-webkit-box-direction:reverse !important;-ms-flex-direction:row-reverse !important;flex-direction:row-reverse !important}.flex-column-reverse{-webkit-box-orient:vertical !important;-webkit-box-direction:reverse !important;-ms-flex-direction:column-reverse !important;flex-direction:column-reverse !important}.flex-wrap{-ms-flex-wrap:wrap !important;flex-wrap:wrap !important}.flex-nowrap{-ms-flex-wrap:nowrap !important;flex-wrap:nowrap !important}.flex-wrap-reverse{-ms-flex-wrap:wrap-reverse !important;flex-wrap:wrap-reverse !important}.justify-content-start{-webkit-box-pack:start !important;-ms-flex-pack:start !important;justify-content:flex-start !important}.justify-content-end{-webkit-box-pack:end !important;-ms-flex-pack:end !important;justify-content:flex-end !important}.justify-content-center{-webkit-box-pack:center !important;-ms-flex-pack:center !important;justify-content:center !important}.justify-content-between{-webkit-box-pack:justify !important;-ms-flex-pack:justify !important;justify-content:space-between !important}.justify-content-around{-ms-flex-pack:distribute !important;justify-content:space-around !important}.align-items-start{-webkit-box-align:start !important;-ms-flex-align:start !important;align-items:flex-start !important}.align-items-end{-webkit-box-align:end !important;-ms-flex-align:end !important;align-items:flex-end !important}.align-items-center{-webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important}.align-items-baseline{-webkit-box-align:baseline !important;-ms-flex-align:baseline !important;align-items:baseline !important}.align-items-stretch{-webkit-box-align:stretch !important;-ms-flex-align:stretch !important;align-items:stretch !important}.align-content-start{-ms-flex-line-pack:start !important;align-content:flex-start !important}.align-content-end{-ms-flex-line-pack:end !important;align-content:flex-end !important}.align-content-center{-ms-flex-line-pack:center !important;align-content:center !important}.align-content-between{-ms-flex-line-pack:justify !important;align-content:space-between !important}.align-content-around{-ms-flex-line-pack:distribute !important;align-content:space-around !important}.align-content-stretch{-ms-flex-line-pack:stretch !important;align-content:stretch !important}.align-self-auto{-ms-flex-item-align:auto !important;align-self:auto !important}.align-self-start{-ms-flex-item-align:start !important;align-self:flex-start !important}.align-self-end{-ms-flex-item-align:end !important;align-self:flex-end !important}.align-self-center{-ms-flex-item-align:center !important;align-self:center !important}.align-self-baseline{-ms-flex-item-align:baseline !important;align-self:baseline !important}.align-self-stretch{-ms-flex-item-align:stretch !important;align-self:stretch !important}@media (min-width: 576px){.flex-sm-row{-webkit-box-orient:horizontal !important;-webkit-box-direction:normal !important;-ms-flex-direction:row !important;flex-direction:row !important}.flex-sm-column{-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;-ms-flex-direction:column !important;flex-direction:column !important}.flex-sm-row-reverse{-webkit-box-orient:horizontal !important;-webkit-box-direction:reverse !important;-ms-flex-direction:row-reverse !important;flex-direction:row-reverse !important}.flex-sm-column-reverse{-webkit-box-orient:vertical !important;-webkit-box-direction:reverse !important;-ms-flex-direction:column-reverse !important;flex-direction:column-reverse !important}.flex-sm-wrap{-ms-flex-wrap:wrap !important;flex-wrap:wrap !important}.flex-sm-nowrap{-ms-flex-wrap:nowrap !important;flex-wrap:nowrap !important}.flex-sm-wrap-reverse{-ms-flex-wrap:wrap-reverse !important;flex-wrap:wrap-reverse !important}.justify-content-sm-start{-webkit-box-pack:start !important;-ms-flex-pack:start !important;justify-content:flex-start !important}.justify-content-sm-end{-webkit-box-pack:end !important;-ms-flex-pack:end !important;justify-content:flex-end !important}.justify-content-sm-center{-webkit-box-pack:center !important;-ms-flex-pack:center !important;justify-content:center !important}.justify-content-sm-between{-webkit-box-pack:justify !important;-ms-flex-pack:justify !important;justify-content:space-between !important}.justify-content-sm-around{-ms-flex-pack:distribute !important;justify-content:space-around !important}.align-items-sm-start{-webkit-box-align:start !important;-ms-flex-align:start !important;align-items:flex-start !important}.align-items-sm-end{-webkit-box-align:end !important;-ms-flex-align:end !important;align-items:flex-end !important}.align-items-sm-center{-webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important}.align-items-sm-baseline{-webkit-box-align:baseline !important;-ms-flex-align:baseline !important;align-items:baseline !important}.align-items-sm-stretch{-webkit-box-align:stretch !important;-ms-flex-align:stretch !important;align-items:stretch !important}.align-content-sm-start{-ms-flex-line-pack:start !important;align-content:flex-start !important}.align-content-sm-end{-ms-flex-line-pack:end !important;align-content:flex-end !important}.align-content-sm-center{-ms-flex-line-pack:center !important;align-content:center !important}.align-content-sm-between{-ms-flex-line-pack:justify !important;align-content:space-between !important}.align-content-sm-around{-ms-flex-line-pack:distribute !important;align-content:space-around !important}.align-content-sm-stretch{-ms-flex-line-pack:stretch !important;align-content:stretch !important}.align-self-sm-auto{-ms-flex-item-align:auto !important;align-self:auto !important}.align-self-sm-start{-ms-flex-item-align:start !important;align-self:flex-start !important}.align-self-sm-end{-ms-flex-item-align:end !important;align-self:flex-end !important}.align-self-sm-center{-ms-flex-item-align:center !important;align-self:center !important}.align-self-sm-baseline{-ms-flex-item-align:baseline !important;align-self:baseline !important}.align-self-sm-stretch{-ms-flex-item-align:stretch !important;align-self:stretch !important}}@media (min-width: 768px){.flex-md-row{-webkit-box-orient:horizontal !important;-webkit-box-direction:normal !important;-ms-flex-direction:row !important;flex-direction:row !important}.flex-md-column{-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;-ms-flex-direction:column !important;flex-direction:column !important}.flex-md-row-reverse{-webkit-box-orient:horizontal !important;-webkit-box-direction:reverse !important;-ms-flex-direction:row-reverse !important;flex-direction:row-reverse !important}.flex-md-column-reverse{-webkit-box-orient:vertical !important;-webkit-box-direction:reverse !important;-ms-flex-direction:column-reverse !important;flex-direction:column-reverse !important}.flex-md-wrap{-ms-flex-wrap:wrap !important;flex-wrap:wrap !important}.flex-md-nowrap{-ms-flex-wrap:nowrap !important;flex-wrap:nowrap !important}.flex-md-wrap-reverse{-ms-flex-wrap:wrap-reverse !important;flex-wrap:wrap-reverse !important}.justify-content-md-start{-webkit-box-pack:start !important;-ms-flex-pack:start !important;justify-content:flex-start !important}.justify-content-md-end{-webkit-box-pack:end !important;-ms-flex-pack:end !important;justify-content:flex-end !important}.justify-content-md-center{-webkit-box-pack:center !important;-ms-flex-pack:center !important;justify-content:center !important}.justify-content-md-between{-webkit-box-pack:justify !important;-ms-flex-pack:justify !important;justify-content:space-between !important}.justify-content-md-around{-ms-flex-pack:distribute !important;justify-content:space-around !important}.align-items-md-start{-webkit-box-align:start !important;-ms-flex-align:start !important;align-items:flex-start !important}.align-items-md-end{-webkit-box-align:end !important;-ms-flex-align:end !important;align-items:flex-end !important}.align-items-md-center{-webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important}.align-items-md-baseline{-webkit-box-align:baseline !important;-ms-flex-align:baseline !important;align-items:baseline !important}.align-items-md-stretch{-webkit-box-align:stretch !important;-ms-flex-align:stretch !important;align-items:stretch !important}.align-content-md-start{-ms-flex-line-pack:start !important;align-content:flex-start !important}.align-content-md-end{-ms-flex-line-pack:end !important;align-content:flex-end !important}.align-content-md-center{-ms-flex-line-pack:center !important;align-content:center !important}.align-content-md-between{-ms-flex-line-pack:justify !important;align-content:space-between !important}.align-content-md-around{-ms-flex-line-pack:distribute !important;align-content:space-around !important}.align-content-md-stretch{-ms-flex-line-pack:stretch !important;align-content:stretch !important}.align-self-md-auto{-ms-flex-item-align:auto !important;align-self:auto !important}.align-self-md-start{-ms-flex-item-align:start !important;align-self:flex-start !important}.align-self-md-end{-ms-flex-item-align:end !important;align-self:flex-end !important}.align-self-md-center{-ms-flex-item-align:center !important;align-self:center !important}.align-self-md-baseline{-ms-flex-item-align:baseline !important;align-self:baseline !important}.align-self-md-stretch{-ms-flex-item-align:stretch !important;align-self:stretch !important}}@media (min-width: 992px){.flex-lg-row{-webkit-box-orient:horizontal !important;-webkit-box-direction:normal !important;-ms-flex-direction:row !important;flex-direction:row !important}.flex-lg-column{-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;-ms-flex-direction:column !important;flex-direction:column !important}.flex-lg-row-reverse{-webkit-box-orient:horizontal !important;-webkit-box-direction:reverse !important;-ms-flex-direction:row-reverse !important;flex-direction:row-reverse !important}.flex-lg-column-reverse{-webkit-box-orient:vertical !important;-webkit-box-direction:reverse !important;-ms-flex-direction:column-reverse !important;flex-direction:column-reverse !important}.flex-lg-wrap{-ms-flex-wrap:wrap !important;flex-wrap:wrap !important}.flex-lg-nowrap{-ms-flex-wrap:nowrap !important;flex-wrap:nowrap !important}.flex-lg-wrap-reverse{-ms-flex-wrap:wrap-reverse !important;flex-wrap:wrap-reverse !important}.justify-content-lg-start{-webkit-box-pack:start !important;-ms-flex-pack:start !important;justify-content:flex-start !important}.justify-content-lg-end{-webkit-box-pack:end !important;-ms-flex-pack:end !important;justify-content:flex-end !important}.justify-content-lg-center{-webkit-box-pack:center !important;-ms-flex-pack:center !important;justify-content:center !important}.justify-content-lg-between{-webkit-box-pack:justify !important;-ms-flex-pack:justify !important;justify-content:space-between !important}.justify-content-lg-around{-ms-flex-pack:distribute !important;justify-content:space-around !important}.align-items-lg-start{-webkit-box-align:start !important;-ms-flex-align:start !important;align-items:flex-start !important}.align-items-lg-end{-webkit-box-align:end !important;-ms-flex-align:end !important;align-items:flex-end !important}.align-items-lg-center{-webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important}.align-items-lg-baseline{-webkit-box-align:baseline !important;-ms-flex-align:baseline !important;align-items:baseline !important}.align-items-lg-stretch{-webkit-box-align:stretch !important;-ms-flex-align:stretch !important;align-items:stretch !important}.align-content-lg-start{-ms-flex-line-pack:start !important;align-content:flex-start !important}.align-content-lg-end{-ms-flex-line-pack:end !important;align-content:flex-end !important}.align-content-lg-center{-ms-flex-line-pack:center !important;align-content:center !important}.align-content-lg-between{-ms-flex-line-pack:justify !important;align-content:space-between !important}.align-content-lg-around{-ms-flex-line-pack:distribute !important;align-content:space-around !important}.align-content-lg-stretch{-ms-flex-line-pack:stretch !important;align-content:stretch !important}.align-self-lg-auto{-ms-flex-item-align:auto !important;align-self:auto !important}.align-self-lg-start{-ms-flex-item-align:start !important;align-self:flex-start !important}.align-self-lg-end{-ms-flex-item-align:end !important;align-self:flex-end !important}.align-self-lg-center{-ms-flex-item-align:center !important;align-self:center !important}.align-self-lg-baseline{-ms-flex-item-align:baseline !important;align-self:baseline !important}.align-self-lg-stretch{-ms-flex-item-align:stretch !important;align-self:stretch !important}}@media (min-width: 1200px){.flex-xl-row{-webkit-box-orient:horizontal !important;-webkit-box-direction:normal !important;-ms-flex-direction:row !important;flex-direction:row !important}.flex-xl-column{-webkit-box-orient:vertical !important;-webkit-box-direction:normal !important;-ms-flex-direction:column !important;flex-direction:column !important}.flex-xl-row-reverse{-webkit-box-orient:horizontal !important;-webkit-box-direction:reverse !important;-ms-flex-direction:row-reverse !important;flex-direction:row-reverse !important}.flex-xl-column-reverse{-webkit-box-orient:vertical !important;-webkit-box-direction:reverse !important;-ms-flex-direction:column-reverse !important;flex-direction:column-reverse !important}.flex-xl-wrap{-ms-flex-wrap:wrap !important;flex-wrap:wrap !important}.flex-xl-nowrap{-ms-flex-wrap:nowrap !important;flex-wrap:nowrap !important}.flex-xl-wrap-reverse{-ms-flex-wrap:wrap-reverse !important;flex-wrap:wrap-reverse !important}.justify-content-xl-start{-webkit-box-pack:start !important;-ms-flex-pack:start !important;justify-content:flex-start !important}.justify-content-xl-end{-webkit-box-pack:end !important;-ms-flex-pack:end !important;justify-content:flex-end !important}.justify-content-xl-center{-webkit-box-pack:center !important;-ms-flex-pack:center !important;justify-content:center !important}.justify-content-xl-between{-webkit-box-pack:justify !important;-ms-flex-pack:justify !important;justify-content:space-between !important}.justify-content-xl-around{-ms-flex-pack:distribute !important;justify-content:space-around !important}.align-items-xl-start{-webkit-box-align:start !important;-ms-flex-align:start !important;align-items:flex-start !important}.align-items-xl-end{-webkit-box-align:end !important;-ms-flex-align:end !important;align-items:flex-end !important}.align-items-xl-center{-webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important}.align-items-xl-baseline{-webkit-box-align:baseline !important;-ms-flex-align:baseline !important;align-items:baseline !important}.align-items-xl-stretch{-webkit-box-align:stretch !important;-ms-flex-align:stretch !important;align-items:stretch !important}.align-content-xl-start{-ms-flex-line-pack:start !important;align-content:flex-start !important}.align-content-xl-end{-ms-flex-line-pack:end !important;align-content:flex-end !important}.align-content-xl-center{-ms-flex-line-pack:center !important;align-content:center !important}.align-content-xl-between{-ms-flex-line-pack:justify !important;align-content:space-between !important}.align-content-xl-around{-ms-flex-line-pack:distribute !important;align-content:space-around !important}.align-content-xl-stretch{-ms-flex-line-pack:stretch !important;align-content:stretch !important}.align-self-xl-auto{-ms-flex-item-align:auto !important;align-self:auto !important}.align-self-xl-start{-ms-flex-item-align:start !important;align-self:flex-start !important}.align-self-xl-end{-ms-flex-item-align:end !important;align-self:flex-end !important}.align-self-xl-center{-ms-flex-item-align:center !important;align-self:center !important}.align-self-xl-baseline{-ms-flex-item-align:baseline !important;align-self:baseline !important}.align-self-xl-stretch{-ms-flex-item-align:stretch !important;align-self:stretch !important}}.tile{max-width:100%;background-color:#FFD900}.tile .readme{background-color:#FFD900;padding-left:140px;width:100%;height:350px}@media (max-width: 567px){.tile .readme{padding-left:100px}}@media (max-width: 415px){.tile .readme{padding-left:50px;height:300px}}.tile .readme-version{padding-top:65px;font-size:20px;font-family:SF;line-height:23.85px;color:#000;text-transform:none}@media (max-width: 567px){.tile .readme-version{font-size:16px}}@media (max-width: 415px){.tile .readme-version{font-size:13px}}.tile .readme-tille{padding-top:14px;font-size:200px;font-family:USAL;line-height:238.67px;color:#000;text-transform:none}@media (max-width: 985px){.tile .readme-tille{padding-top:inherit;font-size:150px;line-height:220px}}@media (max-width: 765px){.tile .readme-tille{font-size:100px;line-height:200px}}@media (max-width: 567px){.tile .readme-tille{font-size:75px;line-height:200px}}@media (max-width: 415px){.tile .readme-tille{font-size:60px;line-height:150px}}.text{width:100%;padding-top:103px;padding-left:140px}@media (max-width: 768px){.text{width:auto}}@media (max-width: 567px){.text{padding-left:100px}}@media (max-width: 415px){.text{padding-left:50px}}.text-box{font-size:44px;font-family:USAL;line-height:52.51px;color:#000;text-transform:none}.text-tile{padding-top:26px}.text-tile .no{position:absolute;width:6px;height:98px;left:145px;top:530px;background:#000000}@media (max-width: 660px){.text-tile .no{top:auto;left:auto}}@media (max-width: 415px){.text-tile .no{height:210px}}.text-tile p{position:absolute;padding-top:5px;width:855px;padding-left:28px;font-size:15px;font-family:SFM;line-height:23.87px;color:#000;text-transform:none}@media (max-width: 987px){.text-tile p{width:auto;font-size:12px;font-family:SFM;line-height:23.87px;color:#000;text-transform:none}}.text1{width:100%;padding-top:180px;padding-left:140px}@media (max-width: 768px){.text1{width:auto}}@media (max-width: 567px){.text1{padding-left:100px}}@media (max-width: 415px){.text1{padding-left:50px;padding-top:250px}}.no1{position:absolute;width:6px;height:52px;left:145px;top:790px;background:#000000}@media (max-width: 660px){.no1{top:auto;left:auto}}@media (max-width: 415px){.no1{height:120px}}.text2{width:100%;padding-top:180px;padding-left:140px}@media (max-width: 768px){.text2{width:auto;padding-right:10px}}@media (max-width: 567px){.text2{padding-left:100px}}@media (max-width: 415px){.text2{padding-left:50px}}.text2 .text-tile .MD-tile{padding-top:56px;padding-left:30px;font-size:80px;font-family:MD}@media (max-width: 768px){.text2 .text-tile .MD-tile{font-size:50px}}@media (max-width: 415px){.text2 .text-tile .MD-tile{font-size:30px}}.text2 .text-tile .MD-text{padding-top:12px}.text2 .text-tile .MD-text_box{width:auto;padding-bottom:10px;padding-left:35px;font-size:20px;font-family:SF;line-height:none;color:#000;text-transform:none}.text2 .text-tile .MD-text_box1{width:auto;padding-bottom:10px;padding-left:35px;word-wrap:break-word;font-size:20px;font-family:SF;line-height:none;color:#000;text-transform:none}.text2 .text-tile .GTF-tile{padding-top:180px;padding-left:30px;font-size:80px;font-family:MD1}@media (max-width: 768px){.text2 .text-tile .GTF-tile{font-size:50px}}@media (max-width: 415px){.text2 .text-tile .GTF-tile{font-size:30px;padding-top:200px}}.text2 .text-tile .GTF-text{padding-top:12px}.text2 .text-tile .GTF-text_box{width:auto;padding-bottom:10px;padding-left:35px;font-size:20px;font-family:SF;line-height:none;color:#000;text-transform:none}.text2 .text-tile .GTF-text_box1{width:auto;word-wrap:break-word;padding-bottom:10px;padding-left:35px;font-size:20px;font-family:SF;line-height:none;color:#000;text-transform:none}.text2 .text-tile .BGP-tile{padding-top:56px;padding-left:30px;font-size:80px;font-family:MD1}@media (max-width: 768px){.text2 .text-tile .BGP-tile{font-size:50px}}@media (max-width: 415px){.text2 .text-tile .BGP-tile{font-size:30px}}.text2 .text-tile .BGP-text{padding-top:12px}.text2 .text-tile .BGP-text_box{width:auto;padding-bottom:10px;padding-left:35px;font-size:20px;font-family:SF;line-height:none;color:#000;text-transform:none}.text2 .text-tile .BGP-text_box1{width:auto;word-wrap:break-word;padding-bottom:10px;padding-left:35px;font-size:20px;font-family:SF;line-height:none;color:#000;text-transform:none}.text2 .text-tile .NCF-tile{padding-top:56px;padding-left:30px;font-size:80px;font-family:MD}@media (max-width: 768px){.text2 .text-tile .NCF-tile{font-size:50px}}@media (max-width: 415px){.text2 .text-tile .NCF-tile{font-size:30px}}.text2 .text-tile .NCF-text{padding-top:12px}.text2 .text-tile .NCF-text_box{width:auto;padding-bottom:10px;padding-left:35px;font-size:20px;font-family:SF;line-height:none;color:#000;text-transform:none}@media (max-width: 415px){.text2 .text-tile .NCF-text_box{font-size:17px}}.text2 .text-tile .NCF-text_box1{width:auto;word-wrap:break-word;padding-bottom:10px;padding-left:35px;font-size:20px;font-family:SF;line-height:none;color:#000;text-transform:none}@media (max-width: 415px){.text2 .text-tile .NCF-text_box1{font-size:17px}}.no2{position:absolute;width:6px;height:1200px;left:145px;top:1048px;background:#000000}@media (max-width: 1024px){.no2{height:1520px}}@media (max-width: 768px){.no2{height:1125px}}@media (max-width: 660px){.no2{top:auto;left:auto}}@media (max-width: 540px){.no2{height:1700px}}@media (max-width: 414px){.no2{height:1200px}}@media (max-width: 360px){.no2{height:1250px}}@media (max-width: 320px){.no2{height:1497px}}
/*# sourceMappingURL=style.min.css.map */

.mx-11 {
    margin-left: 11rem !important;
    margin-right: 11rem !important;
}

header {
    nav.navbar {
        background-color: #ffffff !important;
        padding-bottom: .1rem !important;
        overflow: hidden;
        position: fixed;
        z-index: 850;
        top: 0;
        width: 99%;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);

        .navbar-nav {
            .nav-link {
                padding-bottom: 1.5rem !important;
                padding-top: 1.5rem !important;
            }
            .nav-link.active {
                color: rgb(79, 81, 83);
                font-weight: bold;
                box-shadow: 0px 3px 0px rgb(79, 81, 83);
            }
        }

        .collapse {
            a {
                font-family: New York Small;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 170%;
                /* identical to box height, or 34px */
                letter-spacing: 0.12em;
                text-transform: uppercase;

                color: #000000;
            }
        }

        .navbar-brand {
            b {
                // margin-left: 20px;
                background: #FFFFFF;
                font-family: New York Small;
                font-style: normal;
                font-size: 40px;
                font-weight: 500;
                letter-spacing: 5px;
                @media(max-width:489px) {
                    font-size: 30px;
                    
                }
            }
        }
    }
}

div.banner {
    .main-title {
        margin-left: 25rem;
        margin-right: 25rem;
        font-family: New York Extra Large;
        font-style: normal;
        font-size: 54px;
        line-height: 54px;
        font-weight: 700;
        @media(max-width:498px) {
            font-size: 43px;

            
        }
    }
    .sub-title {
        margin-left: 35rem;
        margin-right: 35rem;
        font-family: SF Mono;
        font-style: normal;
        font-size: 20px;
        line-height: 34px;
        font-weight: 400;
    }
}

div.list-page {
    .main-banner {
        display: block;
        margin-top: 180px;

        img {
            width: 854px;
            height: 533px;
        }
    }

    .second-wrapper {
        .title-wrapper-list {
            font-family: New York Extra Large;
            font-weight: 700;
            font-style: normal;
            font-size: 44px;
            line-height: 52.51px;
        }

        .card {
            border: none;

            .card-title {
                font-family: SF Pro Display;
                font-weight: 500;
                font-style: normal;
                font-size: 1.3rem;
                line-height: 2rem;
            }
        }
    }
}


.detail{
    position: relative;
    background-color: #000000;
    Height :464px ;
}
.detail-ux{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.detail-ux_ux1{
    color: #FFFFFF;
    font-size: 20px;
    font-family: SF Pro Text;
    text-transform: uppercase;
    line-height: 28px;
    font-weight: 800;
    
    
    
}
.detail-ux_ux2{
    color: #FFFFFF;
    font-size: 20px;
    font-family: SF Pro Text;
    font-weight: 400;
    opacity: 0.7;
    text-transform: uppercase;
    line-height: 28px; 
}@media screen and (max-width: 1221px) {
    .detail-ux_ux2{
      font-size: 15px;
    }
    .detail-ux_ux1{
        font-size: 15px;
      }
  }
  @media screen and (max-width: 905px) {
    #mot{
      display: none;
    }
    #tam{
       display: none;
      }
  }
  @media screen and (max-width: 660px) {
    #nam{
      display: none;
    }
    #bay{
       display: none;
      }
  }
  @media screen and (max-width: 489px) {
    #sau{
      display: none;
    }
    
  }
.Rose{
    padding-top: 105px;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
    color: #FFFFFF;
    font-family: SF Pro Text;
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 28px;
    opacity: 0.9;

}
.detail_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 26px;
    width: 488px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #FFFFFF;
    font-family: New York Small;
    font-size: 16px;
    line-height:22.4px;
}
.detail_media{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 167px;
    width: 488px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #FFFFFF;
    font-family: New York Small;
    font-size: 16px;
    line-height:22.4px;
}
.detail_media-link{
    padding-left: 27px;
    padding-right: 27px;
}.detail_copy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 26px;
    width: 488px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #FFFFFF;
    font-family: New York Small;
    font-size: 12px;
    line-height:16.8px;
    padding-top: 350px;
}
@media screen and (max-width: 489px) {
    .Rose{
        font-size: 35px;
    }
    .detail_text {
        width: 328px;
    }
    .detail_text p{
        font-size: 13px;
    }
}

.details_people{
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    justify-content: space-evenly;
    @media(max-width:489px){
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        // align-items: center;
    }

}
.details_people_mobile {
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    

    .img {
        padding-right: 16px;

        img {
            border-radius: 50%;
        }
    }

    .face img{
        width: 100%;
        border:1px solid #EAEAEA;
        padding: 18px 50px;
    }
    .tw img{
        width: 100%;
        border:1px solid #EAEAEA;
        padding: 20px 50px;
    }
    .vc img{
        
        width: 100%;
        border:1px solid #EAEAEA;
        padding: 18px 50px;
       
    }
}
.detail_people{
    display: flex;
}
.detail_people .img{
    padding-right: 16px;
}
.detail_people .img img {
    border-radius: 50%;
}
.detail_people .name .name_mika{
    font-size: 16px;
    line-height: 19.09px;
    font-family: SF Pro Text;
    letter-spacing: 0.08px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}
.detail_people .name .name_date{
    font-size: 16px;
    line-height: 19.09px;
    font-family: SF Pro Text;
    color: #000000;
    padding-top: 8px;
}
.details_people-media{

    display: flex;
    @media(max-width:489px){
        display: flex;
        justify-content: center;
        max-width: 335px;
        padding-top: 23px;

    }
}
.details_people-media .face img{
    width: 100%;
    border:1px solid #EAEAEA;
    padding: 12px 25px;
}
.details_people-media .tw img{
    width: 100%;
    border:1px solid #EAEAEA;
    padding: 14px 25px;
}
.details_people-media .vc img{
    width: 100%;
    border:1px solid #EAEAEA;
    padding: 12px 25px;
    display: none;
    @media(max-width:489px){
        display: flex;
    }
}

.article-page {
    .main-wrapper-article {
        margin-top: 9rem;
    }
}

.article-page {
    .second-wrapper-article {
        .information-detail-wrapper {
            margin-left: 400px;
            margin-right: 400px;
            font-style: normal;
            font-family: New York Medium;
            font-size: 20px;
            line-height: 34px;
            
            li {
                margin-top: 1rem;
            }
        }

        .sub-title-content {
            margin-left: 400px;
            margin-right: 400px;
            font-family: SF Pro Display;
            font-size: 32px;
            font-style: normal;
            line-height: 51.2px;
            font-weight: 700;
        }
        
        .note-article-img {
            margin-left: 480px;
            margin-right: 480px;
            font-family: SF Pro Text;
            font-weight: 500;
            font-style: normal;
            font-size: 16px;
            line-height: 22.4px;
        }

        .tag-second-wrapper-article {
            margin-left: 400px;
            margin-right: 400px;

            .name-tag-article {
                font-family: New York Small;
                font-weight: 400;
                font-style: normal;
                font-size: 16px;
                line-height: 25.6px;
            }
        }
    }
}

.signs{
    margin-top: 5rem;
    margin-bottom: 5rem;
    display:flex;
    justify-content: center;
}
.sign{
    border: 1px solid black;
    width: 640px;
    height: 313px;
    border-top: 10px solid black;
    @media(max-width:489px) {
        width: 400px;
        
    }
}
.sign .sign_up{
    display: flex;
    justify-content: center;
    font-size: 36px;
    line-height: 28px;
    color: #090909;
    align-items: center;
    text-align: center;
    padding-top: 59px;
    padding-bottom: 18px;
    font-family: New York Extra Large;
    font-weight: 700;
}
.sign .sign_text{
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-left: 51px;
    padding-right: 51px;
    font-family: SF Pro Text;
    font-weight: 400;
    padding-bottom: 36px;
}
.sign .sign_input{
    display: flex;
    justify-content: center;
}
.sign .sign_input .sign_search-input{
    width: 413px;
    height: 53px;
    padding-left: 16px;
    border: 1px solid #000000;
}
.sign .sign_input .sign_up_button{
    width: 139px;
    height: 53px;
    padding-left: 16px;
    z-index: 1;
    background-color: #000000;
    color:#FFFFFF;
    position: absolute;
    margin-left: 272px;
    border: 1px;

}

.name-tag-article {
    font-family: New York Small;
    font-style: normal;
    font-size: 16px;
    line-height: 25.6px;
}

.tag-cate-article {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.item-tag-cate-article {
    text-decoration: underline;
    color:black;
    cursor: pointer;
}

.title-list-article {
    font-family: New York Small;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 52.6px;
}
.list-item-main-article {
    margin-left: 20rem;
    margin-right: 20rem;

    .card {
        border: none;
    }
}

.details_people-media1{
    display: flex;
    width: 640px;
    height: 64px;
    @media(max-width:489px){
        width:320px
    }
  
}
.details_people-media1 .face1 {
    display: flex;
    width:320px;
    border:1px solid #EAEAEA;
    @media(max-width:489px){
        width:100px
    }
}
.details_people-media1 .vc1 {
    display: none;
    width:320px;
    border:1px solid #EAEAEA;
    @media(max-width:489px){
        display: flex;
        width:100px
    }
}
.details_people-media1 .vc1 img{
    padding: 12px 25px;
}
.details_people-media1 .face1 img{
    padding: 12px 25px;
}
.details_people-media1 .face1 .share{
    padding: 22px 0px;
    @media(max-width:489px){
        display:none
    }
}
.details_people-media1 .tw1 {
    display: flex;
    width:320px;
    border:1px solid #EAEAEA;
    @media(max-width:489px){
        width:100px;
    }
}

.details_people-media1 .tw1 img{
    padding: 12px 25px; 
}
.details_people-media1 .tw1 .share{
    padding: 22px 0px; 
    @media(max-width:489px){
        display:none
    }
}


// Responsive

@media (max-width: 1200px) {
    div.banner {
        .main-title {
            margin-left: 0rem;
            margin-right: 0rem;
        }

        .sub-title {
            margin-left: 0rem;
            margin-right: 0rem;
        }
    }
}

@media (max-width: 1024px) {
    div.banner {
        .main-title {
            margin-left: 0rem;
            margin-right: 0rem;
        }

        .sub-title {
            margin-left: 0rem;
            margin-right: 0rem;
        }
    }

    .list-item-main-article {
        margin-left: 0rem !important;
        margin-right: 0rem !important;
    }

    .list-page {
        .second-wrapper {
            .row {
                margin-left: 0px !important;
                margin-right: 0px !important;
            }
            hr {
                width: 100% !important;
            }
        }
    }

    .article-page {
        .second-wrapper-article {
            .information-detail-wrapper{
                margin-left: 2rem !important;
                margin-right: 2rem !important;
            }
            .sub-title-content {
                margin-left: 2rem !important;
                margin-right: 2rem !important;
            }

            .note-article-img {
                margin-left: 2rem !important;
                margin-right: 2rem !important;
            }

            .tag-second-wrapper-article {
                margin-left: 2rem !important;
                margin-right: 2rem !important;
            }
        }
    }

    .details_people {
        margin-left: 2rem !important;
        margin-right: 2rem !important;
        justify-content: space-between;
    }
    .line_space_black_article {
        width: 90%;
    }
}

@media (max-width: 860px) {
    .list-page {
        .main-banner {
            img {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
}